@model ENTITY_L.Models.Jobs.JobsModel

@{
    Layout = "~/Views/Shared/IndexShared/_IndexNavbar.cshtml";
    ViewBag.Title = "PostAJob";
    List<ENTITY_L.Models.Category.CategoryModel> categories = (List<ENTITY_L.Models.Category.CategoryModel>)ViewBag.AllCategory;
    ENTITY_L.Models.Employer.EmployerModel Employer = (ENTITY_L.Models.Employer.EmployerModel)ViewBag.Employer;
    ENTITY_L.Models.Jobs.JobsModel ajob = (ENTITY_L.Models.Jobs.JobsModel)ViewBag.ajob;
}
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en" style="height: 110%;">
<head>
    <link rel="stylesheet" href="~/Content/PostAJob.css" />
    <title>Post Job</title>
</head>
<body>
    <div class="floating">
        <div class="transparent">
            <div class="row">
                <div class="col-md-2">
                    <div class="jobimage" style="background-image: url('@Employer.Logo');"></div>
                </div>
                <div class="col-md-10">
                    <div class="title">@Employer.Company</div>
                    <div class="subtitle"><span class="iconify" data-inline="false" data-icon="cil:location-pin" style="font-size: 25px; color: #fff; margin-right: 10px;"></span>@Employer.Location</div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Jobs"))
    {
        <input value="@ajob.Id" name="Id" hidden>
        <input value="@Employer.Company" name="Company" hidden>
        <input value="@Employer.Email" name="Email" hidden>
        <input value="@Employer.Logo" name="Logo" hidden>
        <input value="@Employer.URL" name="URL" hidden>
        <input value="@Employer.Location" name="Location" hidden>


        <div class="container">
            <div class="card form shadow">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center">
                            <div class="card-header title2"><span class="iconify" data-inline="false" data-icon="bi:info-lg" style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Descripción</div>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <div class="form-outline data" style="width: 90%;">
                                <input type="text" id="Job" name="Job" value="@ajob.Job" class="form-control" />
                                <label class="form-label" for="nombre">Nombre del puesto de trabajo</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <select class="decorated data" name="Category" id="categories">
                                <option value="" disabled selected>Selecciona la categoría</option>
                                @foreach (var item in categories)
                                {
                                    <option @if (ajob.Category == item.Name) { @MvcHtmlString.Create("selected='selected'") ; } value="@item.Name">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="d-flex justify-content-center">
                            <select class="select-input data" name="JobType" id="categories">
                                <option value="" disabled selected>Selecciona el tipo</option>

                                <option value="Part-Time" @if (ajob.JobType == "Part-Time") { @MvcHtmlString.Create("selected='selected'") ; }>Part-Time</option>
                                <option value="Full-Time" @if (ajob.JobType == "Full-Time") { @MvcHtmlString.Create("selected='selected'") ; }>Full-Time</option>
                                <option value="Freelance" @if (ajob.JobType == "Freelance") { @MvcHtmlString.Create("selected='selected'") ; }>Freelance</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-outline data" style="width: 90%;">
                                <textarea class="form-control" name="JobDescription" id="textAreaExample" rows="4">@ajob.JobDescription</textarea>
                                <label class="form-label" for="textAreaExample">Descripción del empleo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="d-flex justify-content-center">
                            <div class="card-header title2"><span class="iconify" data-inline="false" data-icon="ic:baseline-how-to-reg" style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Requerimientos</div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-outline data" style="width: 90%;">
                                <textarea class="form-control" name="Requirements" id="textAreaExample" rows="11">@ajob.Requirements</textarea>
                                <label class="form-label" for="textAreaExample">Requisitos necesarios para aplicar</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center buttons">
                        <button class="btn back">Cancelar</button>
                        <button type="submit" class="btn save">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Content/MDB/js/mdb.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
</html>
<br>
<br>
<br>