@using System.Security.Claims;
@{
    var Name = @ClaimsPrincipal.Current.FindFirst(ClaimTypes.Name).Value;
    var Role = @ClaimsPrincipal.Current.FindFirst(ClaimTypes.Role).Value;
    var Logo = @ClaimsPrincipal.Current.FindFirst(ClaimTypes.Actor).Value;

}

@switch (Role)
{
    case "User":
        @Html.Partial("~/Views/Shared/IndexShared/NavBarPartial/Roles/user_logged_in.cshtml");
        break;

    case "Employer":
        @Html.Partial("~/Views/Shared/IndexShared/NavBarPartial/Roles/employer_logged_in.cshtml");
        break;
}



<style>
    .navbar-user-text {
        color: var(--primary-color);
        font-family: var(--navbar-font);
        font-weight: var(--font-bold);
        text-transform: initial;
    }

    .dropdown-user-text {
        font-family: var(--navbar-font);
        font-weight: var(--font-semi-bold);
        text-transform: initial;
    }
</style>


<span class="navbar-user-text" style="margin-right: 2rem; z-index: 10000;">@Name</span>

<div class="btn-group mb-2" style="border-radius: 20px;margin-top:.5%;">


    <!-- Avatar -->
    <a class="dropdown-toggle hidden-arrow"
       href="#"
       role="button"
       data-mdb-toggle="dropdown"
       data-mdb-display="static"
       aria-expanded="false">
        <div style="background-image: url(@Logo); width:50px; height:50px; background-position-x:center; background-position-y:center; background-size:cover"
             class="rounded-circle"
             alt=""
             loading="lazy" ></div>
    </a>

    <ul class="dropdown-menu dropdown-menu-end">

        <li align="center" style="margin-top: 4%;"><span class="dropdown-user-text">@Role</span></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="@if (Role == "Admin")
        {
            @Url.Action("AdminDashboard", "Admin")
        }
        else if(Role == "Employer")
        {
            @Url.Action("EmployerDashboard", "Employer")
        }                                        
        ">Ir al Dashboard</a></li>
        <li><a class="dropdown-item" href="@if (Role == "Admin")
        {
            @Url.Action("Jobs", "Admin")
        }
        else if(Role == "Employer")
        {
            @Url.Action("EmployerDashboard", "Employer")
        }                                        ">Empleos</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li>
            <a class="dropdown-item" href="@Url.Action("LogOff", "Auth")">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar sesión
            </a>
        </li>
    </ul>


</div>