<!-- Left links -->
<ul class="navbar-nav navbar-links me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Index")"><span class="nav-link">Inicio</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Index")"><span class="nav-link">¿Cómo funciona?</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Index")"><span class="nav-link">Sobre nosotros</span></a>
    </li>
</ul>
<!-- Left links -->


<div class="d-flex align-items-center">
    <a href="@Url.Action("Login", "Auth")" id="LoginBtn" class="btn btn-link navbar-link-button btn-rounded px-3 me-2">
        Iniciar sesión
    </a>

    <a href="@Url.Action("SignUp", "Auth")" id="RegisterBtn" class="btn btn-outline-primary btn-rounded me-3 navbar-button">
        <strong>Registrarse</strong>
    </a>

</div>