@model ENTITY_L.Models.Jobs.JobsModel

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/IndexShared/_IndexNavbar.cshtml";
    IEnumerable<ENTITY_L.Models.Jobs.JobsModel> JobsFound = (IEnumerable<ENTITY_L.Models.Jobs.JobsModel>)ViewBag.JobsFound; // Llama al metodo que se encuenta en la API
    string KeyWord = ViewBag.KeyWord;
}

<!-- Background image -->

<div class="p-5 text-center bg-image"
     style=" background-image: url('https://firebasestorage.googleapis.com/v0/b/jobsy-e4cf0.appspot.com/o/header_wallpaper.jpg?alt=media&token=8a29c728-798d-4006-a755-87581e3172a5'); height: 350px; ">

    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
        <div class="d-flex justify-content-center align-items-center container" style="height:27rem;">
            <div class="">

                <form class="form container row" style="width: 70rem;" action="">
                    @using (Html.BeginForm("Searchjobs", "Index", FormMethod.Get, new { @class = "form" }))
                    {
                        <div class="input-icons col">
                            <i class="ri-search-line icon"></i>

                            <input type="text" class="SearchInput" name="keyword" placeholder="Palabras clave" value="@KeyWord">

                        </div>

                        <div class=" col">
                            <!-- <i class="fas fa-list-ul icon mt-2"></i>-->
                            <select class="dropdown" name="categories" id="categories">
                                <option value="" disabled selected>Selecciona una categoría</option>
                                <option value="volvo">Tecnología</option>
                                <option value="saab">Diseño</option>
                                <option value="opel">Marketing</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary btn-lg search-btn" style="height: 4.25rem; width: 10rem;">Buscar</button>
                        </div>
                    }
                    </form>
               
                </div>
        </div>

    </div>
</div>
<!-- Background image -->
<!--======RECENT JOBS=======-->
<section>
    <div class="wave-container mb-4">
        <div class="d-flex justify-content-center">
            <h1 class="h1-section container">Resultados para: @KeyWord</h1>
        </div>
        <!--<p class="p-wave">Los empleos mas jevis 😎</p>-->

    </div>

    <style>
        .vl {
            border-left: 1.9px solid #dedede;
            height: 100%;
        }
    </style>

    <script>
        var mq = window.matchMedia("(max-width: 1200px)");
        if (mq.matches) {
            var divider = document.getElementById('divider-search');
            divider.remove();
        }
    </script>

    <!--EMPLEO1-->

    @foreach (var item in JobsFound)
    {

        @:<div class="row-col mb-3 container d-flex justify-content-center space-between">
            @: <div class="col-md-10 mb-3  p-3 card-jobs ripple Searched-Job" style="margin-right: 0%;">
                @:  <div class=" rounded-3">
                    @: <a href="" class="">
                        @:   <div class="row">
                            <div style="margin: 0rem; margin-right: 0%;" class="col mt-5"> <img src="@item.Logo" height="110px" class="" alt="mdb logo" style="margin-left: 2rem;"> </div>

                            <div class="col d-flex align-items-center search-divider" id="divider-search" style="margin-left: 1rem;">
                                <div class="vl search-divider"></div>
                            </div>
                            @:   <div class="col-9" style="margin-right: 2.5rem">
                                <h3 class="Job col">@item.Job</h3>
                                @:    <p class="Company" ">@item.Company</p>
                                @:   <p class="card-text ">
                                    <h6 class="Title col-md-12 ">Ubicación</h6>
                                <p class="Subtitle col-md-12 ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="15px " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round ">
                                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z "></path>
                                        <circle cx="12 " cy="10 " r="3 "></circle>
                                    </svg>
                                    @item.Location
                                </p>
                                <h6 class="Title col-md-12 ">Publicación</h6>
                                <p class="Subtitle col-md-12 ">
                                    @item.Date
                                </p>
                                <div class="d-flex ">
                                    <div class="rectangulo ">
                                        <p class=" ">@item.JobType</p>
                                    </div>
                                    <div class="rectangulo2 " style="margin-left: 1rem; ">
                                        <p class=" ">@item.Category</p>
                                    </div>
                                </div>
                            @: </div>
                        @: </div>
                    @:   </a>
                @:    </div>
































            @:  </div>
        @:   </div>








    }









</section>   