
@{
    Layout = "~/Views/Shared/IndexShared/_IndexNavbar.cshtml";
    ViewBag.Title = "EditProfileUser";
    ENTITY_L.Models.User.UserModel User = (ENTITY_L.Models.User.UserModel)ViewBag.User;
}
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en" style="height: 120%;">

<head>
    <link rel="stylesheet" href="~/Content/EditProfile.css" />
    <script src="https://gsk-design-system.azureedge.net/webcomponents/all-package/dist/1.4/gsk-all-es5.js" defer="">
    </script>
    <link rel="stylesheet" href="https://gsk-design-system.azureedge.net/styles/fonts/dist/1.0/style.css">
    <title>Editar perfil</title>
</head>

<body>
    @using (Html.BeginForm("ProfileEdit", "User", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <header>

        <!-- Background image -->
        <div class="text-center floating">
            <div class="mask transparent">
                <div class="d-flex justify-content-evenly align-items-evenly h-100">
                    <div class="text-white">
                        <div class="avatar">
                            <input id="file-uploader" type="file" name="Logo" value="" />
                            <div class="jobimage"
                                 style="background-image: url('@User.Logo');">
                            </div>
                            <label class="avatar-selector" for="file-uploader"><i class="fa fa-camera cam"></i></label>
                        </div>
                        <div class="text-white">
                            <h2 class="mt-4 mb-3 text-start">@User.Name  @User.LastName</h2>
                            <div style="display: inline-flex;">
                                <div class="tipo"><div class="stext">Usuario</div></div>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- Background image -->
        </div>
    </header>
    <div class="container">
        <div class="card form shadow">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false" data-icon="bi:info-lg"
                                  style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Información Personal
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="form-outline data" style="width: 34%;">
                            <input type="text" id="Nombre" name="Name" value="@User.Name" class="form-control" />
                            <label class="form-label" for="Nombre">Nombre</label>
                        </div>
                        <div class="form-outline data" style="width: 34%; margin-left: 2%;">
                            <input type="text" id="Apellido" name="LastName" value="@User.LastName" class="form-control" />
                            <label class="form-label" for="Apellido">Apellido</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Correo" name="Email" value="@User.Email" class="form-control" />
                            <label class="form-label" for="Correo">Correo Electronico</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Cedula" name="Cedula" value="@User.Cedula" class="form-control" />
                            <label class="form-label" for="Cedula">Cedula</label>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="form-outline data" style="width: 34%;">
                            <input type="text" id="Telefono" name="Tel" value="@User.Tel" class="form-control" />
                            <label class="form-label" for="Telefono">Telefono</label>
                        </div>
                        <div class="form-outline data" style="width: 34%; margin-left: 2%;">
                            <input type="text" id="Celular" name="Cel" value="@User.Cel" class="form-control" />
                            <label class="form-label" for="Celular">Celular</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Direccion" name="Direccion" value="@User.Direccion" class="form-control" />
                            <label class="form-label" for="Direccion">Direccion</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <textarea class="form-control" id="Biografia" name="Bio" value="@User.Bio"  rows="3"></textarea>
                            <label class="form-label" for="Biografia">Biografia</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false"
                                  data-icon="ion:share-social-outline"
                                  style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Redes Sociales
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Instagram" name="Instagram" value="@User.Instagram" class="form-control" />
                            <label class="form-label" for="Instagram">Instagram URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Facebook" name="Facebook" value="@User.Facebook" class="form-control" />
                            <label class="form-label" for="Facebook">Facebook URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="LinkedIn" name="Linkedin" value="@User.Linkedin" class="form-control" />
                            <label class="form-label" for="LinkedIn">LinkedIn URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false"
                                  data-icon="ant-design:tag-outlined"
                                  style="font-size: 25px; color: #933368; margin-right: 10px; "></span>Etiquetas
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="wrapper">
                            <gsk-input-chips value="Ejemplo" maxvalues="3" type="text" class="chips" outlined="">
                            </gsk-input-chips>
                        </div>
                    </div>
                </div>

            </div>



            <div class="d-flex justify-content-center buttons">
                <button class="btn back">Cancelar</button>
                <button type="submit" class="btn save">Guardar Cambios</button>
            </div>
        </div>
    </div>
    }

   
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script id="rendered-js">
        (() => {
            document.querySelector("#file-uploader").addEventListener("change", e => {

                const image = e.target.files[0];
                const imageURL = URL.createObjectURL(image);
                document.querySelector(".jobimage").
                    style.backgroundImage = ` url("${imageURL}")`;
            });
        })();
    </script>
</body>

</html>
<br>
<br>
<br>